*.a
*.la
*.lo
*.o
*.swp
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-stamp
config.guess
config.log
config.status
config.sub
configure
configure-stamp
debian/files
debian/libosmpbf-dev*.debhelper
debian/libosmpbf-dev.debhelper.log
debian/libosmpbf-dev.substvars
debian/libosmpbf-dev/
depcomp
generated.java
include/osmpbf/osmpbf.h
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
osmpbf-*.tar.gz
src/*.pb.cc
src/*.pb.h
